<!DOCTYPE html>
<div class="container-fluid row">
  <h1 class="text-center">Cars</h1>
  <form class="container">
    <div class="form-group col-md-4">
      <label for="brand">Brand</label>
      <input type="text" name="brand" ng-model="$ctrl.brand" class="form-control">
    </div>
    <div class="form-group col-md-4">
      <label for="model">Model</label>
      <input type="text" name="model" ng-model="$ctrl.model" class="form-control">
    </div>
    <div class="form-group col-md-3">
      <label for="year">Year of Manufacturing</label>
      <input type="text" name="year" ng-model="$ctrl.year" class="form-control">
    </div>
    <div class="form-group col-md-1">
      <button type="button" class="btn btn-default margin-top" ng-click="$ctrl.newCar()">Create</button>
    </div>
  </form>
  <get-car></get-car>
</div>
<footer class="footer text-center text-muted">
  <p>Built using MEAN stack</p>
  <p>By: Dominic Lam</p>
</footer>
